<!-- movie-dialog.component.html -->
<h2 mat-dialog-title>{{ data.dialogType | titlecase }}</h2>
<div mat-dialog-content>
  <p *ngIf="data.dialogType === 'genre' && data.data.genre">
    Genre: {{ data.data.genre.Name }}
  </p>
  <p *ngIf="data.dialogType === 'director' && data.data.director">
    Director: {{ data.data.director.Name }}
  </p>
  <p *ngIf="data.dialogType === 'description'">
    Description: {{ data.data.Description }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
