<h2 mat-dialog-title>{{ data.dialogType | titlecase }}</h2>
<div mat-dialog-content>
  <p *ngIf="data.dialogType === 'genre' && data.data.movies">
    Genre: {{ data.data.movies[0].Genre.Name }}
  </p>
  <p *ngIf="data.dialogType === 'director' && data.data.movies">
    Director: {{ data.data.movies[0].Director.Name }}
  </p>
  <p *ngIf="data.dialogType === 'description'">
    Description: {{ data.data.Description }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
