<div style="display: flex; gap: 16px">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 300px">
    <img [src]="movie.ImagePath" alt="{{ movie.Title }}" style="width: 100%" />
    <mat-card-actions>
      <button mat-button color="primary">Genre</button>
      <button mat-button color="primary">Director</button>
      <button mat-button color="primary">Description</button>
      <span style="flex-grow: 1"></span>
      <button mat-icon-button color="warn">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
