<div style="display: flex; gap: 16px">
  <mat-card *ngFor="let movie of movies" style="width: 300px">
    <img [src]="movie.ImagePath" alt="{{ movie.Title }}" style="width: 100%" />
    <mat-card-actions>
      <button mat-button color="primary" (click)="openGenreDialog(movie)">
        Genre
      </button>
      <button mat-button color="primary" (click)="openDirectorDialog(movie)">
        Director
      </button>
      <button mat-button color="primary" (click)="openDescriptionDialog(movie)">
        Description
      </button>
      <span style="flex-grow: 1"></span>
      <button mat-icon-button color="warn" (click)="toggleFavoriteMovie(movie)">
        <mat-icon
          [color]="fetchMovies.isFavoriteMovie(movie._id) ? 'warn' : 'default'"
        >
          {{
            fetchMovies.isFavoriteMovie(movie._id)
              ? "favorite"
              : "favorite_border"
          }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
