/* user-login-form.component.scss */

mat-card {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 1.5em;
  color: #3d5a80; /* Dark Blue */
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.login-btn {
  background-color: #ee6c4d; /* Coral */
  color: #e0fbfc; /* Light Blue */
  font-size: 1em;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #98c1d9; /* Sky Blue */
  }
}
