<!-- src/app/user-profile/user-profile.component.html -->
<div class="profile-container">
  <h2>User Profile</h2>
  <div class="user-info">
    <p><strong>Username:</strong> {{ user.Username }}</p>
    <p><strong>Email:</strong> {{ user.Email }}</p>
  </div>

  <h2>Favorite Movies</h2>
  <div class="favorite-movies">
    <div *ngFor="let movie of favoriteMovies" class="favorite-movie-card">
      <!-- Customize the display of favorite movie card as needed -->
      <img [src]="movie.ImagePath" alt="{{ movie.Title }}" />
      <p>{{ movie.Title }}</p>
      <button mat-button color="warn" (click)="removeFavoriteMovie(movie)">
        Remove from Favorites
      </button>
    </div>
  </div>
</div>
