<!-- src/app/user-profile/user-profile.component.html -->
<div class="profile-container">
  <h2>Update Profile</h2>
  <form (submit)="handleUpdate()">
    <label>
      Username:
      <input type="text" [(ngModel)]="Username" name="Username" required />
    </label>
    <label>
      Password:
      <input type="password" [(ngModel)]="Password" name="Password" required />
    </label>
    <label>
      Email:
      <input type="email" [(ngModel)]="Email" name="Email" required />
    </label>
    <label>
      Birthday:
      <input type="date" [(ngModel)]="Birthday" name="Birthday" />
    </label>
    <button type="submit">Update Profile</button>
  </form>

  <h2>Favorite Movies</h2>
  <div class="favorite-movies">
    <div *ngFor="let movie of FavoriteMovies" class="favorite-movie-card">
      <img [src]="movie.ImagePath" alt="{{ movie.Title }}" />
    </div>
  </div>
  <br />
  <button (click)="deleteAccount()">Delete Account</button>
</div>
