/* src/app/user-profile/user-profile.component.scss */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-top: 0vh;
  background-color: #496e9f; /* Blue */

  h2 {
    color: #e0fbfc; /* Light Blue */
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  form {
    width: 300px;
    margin-bottom: 20px;

    label {
      color: #3d5a80; /* Dark Blue */
      margin-bottom: 5px;
      display: block;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #ee6c4d; /* Coral */
      color: #e0fbfc; /* Light Blue */
      font-size: 1.2em;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #98c1d9; /* Sky Blue */
      }
    }
  }

  .favorite-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .favorite-movie-card {
      width: 200px;
      padding: 10px;
      border: 1px solid #eee;
      border-radius: 5px;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
      }

      p {
        margin-top: 10px;
        font-size: 1em;
        color: #293241; /* Navy Blue */
      }
    }
  }
}
